<h1>Enter the amount you want change for!</h1>

<form action='/coin_combos'>
  <div class="form-group">
    <label for="money">Amount of change to convert:</label>
    <input id="money" name="money" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Convert</button>
</form>
